$yellow: #F9E649;
$red: #F77565;
$orange: #FFB877;
$pink: #F98FD2;
$blue: #525CFF;
$green: #66E26D;

.inline {
  display: inline-block;
  width: 50%;
}

.padding-right {
  margin-right: 40px !important;
}

.float-right {
  float: right;
  padding-right: 10px;
  background-color: #F5F5F5;
  padding: 10px;
  border-radius: 100px;
  text-shadow: 1px 3px 8px grey;
}

.ticket-red {
  background-color: $red;
}

.ticket-green {
  background-color: $green;
}

.ticket-yellow {
  background-color: $yellow;
}

.yellow {
  color: $yellow;
}

.red {
  color: $red;
}

.orange {
  color: $orange;
}

.pink {
  color: $pink;
}

.blue {
  color: $blue;
}

.green {
  color: $green;
}

.ticket-well {
  cursor: pointer;
}

.pending, .solved {
  margin-left: 30px;
}
